.rightbar{
    flex: 4.5;
   
    
    
}
.rightbarDetails{
    margin-top: 70px;
}

.rightbarWrapper{
    padding: 20px 20px 0 0;
    margin-top: 50px;
   
}

.birthdayContainer{
    display: flex; 
    align-items: center;
}

.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthdayText{
    font-weight: 300;
    font-size: 15px;
}
.rightbarAd{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.rightbarFriendList{
    margin: 0;
    padding: 0;
    list-style: none;
}



.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
}

.rightbarInfo{
    margin-bottom: 30px;
}

.rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}

.rightbarInfoValue{
    font-weight: 300;
}

.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 20px;
}

.rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    cursor: pointer;
    align-items:center;
}
.rightbarFollowingName{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 300;
}
.rightbarInfoItem{
    margin-bottom: 10px;
}

.rightbarfollowingImg{
    width: 135px;
    height: 120px;
    object-fit: cover;
    border-radius:5px
}



